.cabecalho-moda {
    background-color: #BB86FC;
    color: #ffff;
}

.fundo-valores {
    background-color: #424250;
    color: #ffff
}

.cabecalho-casa {
    background-color: #00C4B4;
    color: #ffff;
}

